.consent {
  padding-top: 65px;
}
.consent_search {
  display: block;
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  width: 95%;
  padding-top: 22px;
  padding-left: 43px;
}
.consent_title {
  margin-bottom: 50px;
}
.consent_btn {
  justify-content: center;
  margin-bottom: 0;
  height: 45px;
}
.automated {
  margin-top: 35px;
}
.long_text {
  text-align: left;
}
.term_condition {
  margin-top: 76px;
}
.review_term {
  margin-top: 50px;
}
.tc_btn {
  padding-left: 44px;
  padding-right: 44px;
}
.accept_check {
  margin-bottom: 35px;
}
.next_step_width {
  width: 75%;
}
.next_step_width .title {
  margin-bottom: 60px;
}
.next_step_width .message {
  margin-bottom: 40px;
}
.questions {
  margin-bottom: 39px;
}