.trading_top {
  padding-top: 65px;
}
.company_trading {
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  width: 70%;
  padding-top: 22px;
  padding-left: 43px;
}
.different_address {
  width: 96%;
  margin-top: 37px;
  margin-bottom: 38px !important;
  margin-left: 3px;
}
.look_trading {
  width: 88%;
}
.director_partner {
  margin-top: 42px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  width: 70%;
  padding-top: 20px;
  padding-left: 43px;
}
.add_more_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 40px;
  margin-right: 24px;
}