#customer_1_1 {
  background: #EEEEEE;
  height: 100%;
}
.type_of_customer {
  padding-top: 4.3125rem;
  margin-left: 5px;
}
.select_height {
  height: 49px;
}
.details_company {
  margin-top: 49px;
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  width: 70%;
  padding-top: 22px;
  padding-left: 24px;
}
.name_nuymber {
  margin-right: 50px;
  color: black;
}
.trading_as {
  width: 40%;
}
.surname_input {
  margin-bottom: 50px !important;
}
.name_input_field {
  margin-top: 50px;
}
.name_input_field .input_field {
  margin-left: 5px;
}
.look_cover {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 42px;
}
.look_cover .lookup_btn {
  background: #2AA1D4;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  line-height: 25px;
  text-transform: capitalize;
}
.next_cover {

}
.next_cover .next_btn {
  background: #2AA1D4;
  color: white;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  line-height: 25px;
  text-transform: capitalize;
  padding-left: 30px;
  padding-right: 30px;
}