.communications {
  padding-top: 65px;
}
.future_title {
  margin-bottom: 50px;
}
.future_marketing {
  display: block;
  border: 1px solid #DADADA;
  border-radius: 20px;
  box-sizing: border-box;
  width: 90%;
  padding-top: 20px;
  padding-left: 43px;
  padding-bottom: 38px;
}
.future_check label {
  margin-left: 15px;
}
.privace_notice {
  margin-top: 31px;
}
.consent_btn {
  justify-content: center;
}