body {
  width: 1280px;
  height: 850px;
  font-family: "Lato", sans-serif;
  margin: 0;
  margin: auto;
}
.sidenav {
  width: 0;
  height: 915px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 310px;
  background: #FAFAFA;
  box-shadow: 0px 5.5px 5px rgba(0,0,0,0.24);
  overflow-x: hidden;
  transition: 0.5s;
}
.dealer_logo {
  background: #1E7499;
  height: 144px;
}
.dealer_logo img {
  width: 56px;
  height: 56px;
  background: #E0E0E0;
  border-radius: 28px;
  margin-top: 24px;
  margin-left: 24px;
}
.dealer_logo p {
  font-size: 13px;
  color: white;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: 20px;
  margin-left: 24px;
  margin-top: 23px;
}
.menu_item {
  padding-left: 24px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.sidenav a {
  display: flex;
  align-items: center;
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-family: 'Roboto';
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  transition: 0.3s;
}
.sidenav a i {
  margin-right: 32px;
}
.sidenav a:hover {
  color: #4285F4;
}
.sign_out {
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 19px;
  justify-content: center;
  padding: 0 !important;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 30px;
  color: #CCCCCC;
}


.header_bar {
  width: 100%;
  height: 64px;
  display: flex;
  margin: auto;
  background-color: #2AA1D4 !important;
}
.header_bar span {
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  font-family: 'Roboto';
  line-height: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}
.header_bar span i {
  margin-right: 48px;
}
.header_bar .info {
  position: absolute;
  right: 20px;
  color: white;
}

#home {
  background: #EEEEEE;
  height: 100%;
}
.container {
  height: 100%;
}
.home_detail {
  height: 100%;
}
.customer_type {
  height: 100%;
  padding: 36px 20px 20px 20px;
}
.customer_label {
  margin-right: 30px;
}
.trading {
  margin-top: 34px;
  display: flex;
  justify-content: center;
  border: 1px solid #DADADA;
  border-radius: 20px;
  height: 65px;
  align-items: center;
}
.trading_more {
  margin-right: 30px;
  padding-top: 10px;
}
.value_term {
  display: flex;
  width: 85%;
  margin-top: 30px;
}
.value_term .term {
  margin-left: 20px;
}

.payment_detail {
  height: 90%;
  margin: 36px 20px 20px 20px;
  border: 1px solid #DADADA;
  border-radius: 20px;
}
.payment_profile {
  display: flex;
  width: 85%;
  align-items: center;
  margin-top: 20px;
}
.payment_profile p {
  margin-top: 40px;
}
.payment_profile .price {
  display: flex;
}
.equipment_type {
  width: 79%;
}
.customer_details {
  margin-top: 30px;
}
.customer_item {
  margin-top: 39px;
}
.details_item {
  margin-left: 10px;
}

.repay_details {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.payment_item {
  margin-top: 34px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.add_btn {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 1190px;
  bottom: 60px;
}
.add_btn i {
  background: #2AA1D4;
  padding: 18px;
  border-radius: 28px;
  color: white;
  box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.24)
}
.schedule {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}